body {
  background-image: url("../images/conan.jpg");
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: white;
  background-size: cover;
}
.my-header {
  background-color: black;
}

.my-content {
  background-color: rgba(0,0,0,0.5);
  flex: 0.3;
}

.my-footer {
  background-color: black;
}

.my-padded-box {
  padding: 10px;
}

.my-logo {
  padding: 50px;
  flex: 1;
}
.centered {
  text-align: center;
  margin: 0 auto;
}
.playerstats-table {
  align-content: center;
  padding-bottom: 30px;
}
a {
  color: white;
  text-decoration: none;

}
a:hover {
  text-decoration: none;
  color: white;
}
